# Chapter 2 - Data Preparation Basics
## Segment 5 - Grouping and data aggregation

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Grouping data by column index

In [3]:
#subgrouping
#useful for finding common subgroup (sort of like a common denominator) within the data

address = 'C:/Users/guthrie/Documents/GitHub/PythonEssentialsForDataSciencePart1/Ex_Files_Python_Data_Science_EssT_Pt_1/Exercise Files/Data/mtcars.csv'

cars = pd.read_csv(address)

cars.columns = ['car_names', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
#print first 5 rows of dataframe
cars.head()

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [7]:
#group (i.e. pivot) based on cylinder and then averages each category 
#for the vehicles with that number of cylinders
cars_groups = cars.groupby(cars['cyl'])
cars_groups.mean().round(2)

       mpg    disp      hp  drat    wt   qsec    vs    am  gear  carb
cyl
4    26.66  105.14   82.64  4.07  2.29  19.14  0.91  0.73  4.09  1.55
6    19.74  183.31  122.29  3.59  3.12  17.98  0.57  0.43  3.86  3.43
8    15.10  353.10  209.21  3.23  4.00  16.77  0.00  0.14  3.29  3.50